body {
  -webkit-transition: opacity 200ms ease, border 200ms ease;
  transition: opacity 200ms ease, border 200ms ease;
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 135%;
}

h1 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 40px;
  font-weight: 400;
}

h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
}

h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 400;
}

h4 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

h5 {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

h6 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

p {
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  line-height: 160%;
}

a {
  color: #5d5d5d;
  text-decoration: underline;
}

ul {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 40px;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  font-family: Lato, sans-serif;
}

img {
  display: inline-block;
  max-width: 100%;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 16px;
  line-height: 135%;
}

figure {
  margin-bottom: 20px;
}

figcaption {
  margin-top: 5px;
  color: #aaa;
  font-size: 13px;
  text-align: center;
}

.button {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  padding: 11px 20px;
  border-radius: 3px;
  background-color: #888;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #333;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.type1 {
  background-color: transparent;
  -webkit-transition: background-color 200ms ease, all 200ms ease;
  transition: background-color 200ms ease, all 200ms ease;
  color: #333;
  line-height: 30px;
}

.button.type1:hover {
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
  line-height: 20px;
}

.button.type2 {
  border-right: 6px solid transparent;
  border-left: 5px solid transparent;
  background-color: transparent;
  -webkit-transition: background-color 200ms ease, border 200ms ease;
  transition: background-color 200ms ease, border 200ms ease;
  color: #333;
}

.button.type2:hover {
  border-right: 5px solid #000;
  border-left: 5px solid #000;
}

.button.type3 {
  border-style: solid;
  border-width: 5px;
  border-color: #000 transparent transparent #000;
  background-color: transparent;
  -webkit-transition: background-color 200ms ease, border 200ms ease;
  transition: background-color 200ms ease, border 200ms ease;
  color: #333;
}

.button.type3:hover {
  border-color: transparent #333 #333 transparent;
}

.button.type3:active {
  border-right-width: 3px;
  border-bottom-width: 3px;
}

.button.type4 {
  border-right: 5px solid #000;
  border-left: 5px solid transparent;
  background-color: transparent;
  -webkit-transition: background-color 200ms ease, border 200ms ease-in;
  transition: background-color 200ms ease, border 200ms ease-in;
  color: #333;
}

.button.type4:hover {
  border-right-color: transparent;
  border-left-color: #333;
}

.navigation-link {
  margin-left: 25px;
  padding: 15px 0px;
  color: #aaa;
  font-size: 14px;
}

.navigation-link:hover {
  color: #333;
}

.navigation-link.w--current {
  color: #333;
}

.navigation-bar {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .06);
}

.section {
  position: relative;
  padding-top: 63px;
  padding-bottom: 63px;
  background-color: #fff;
}

.section.accent {
  background-color: #f3f3f3;
}

.section.dark {
  background-color: #5d5d5d;
  color: #fff;
}

.social-button {
  margin-right: 4px;
  margin-bottom: 8px;
  margin-left: 4px;
  padding: 8px;
  border-radius: 100px;
  background-color: #000;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-button:hover {
  opacity: 0.7;
}

.social-button.border {
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, .36);
  background-color: transparent;
}

.social-button.facebook {
  background-color: #3c5791;
}

.social-button.twitter {
  background-color: #29a9e8;
}

.social-button.red {
  background-color: #d11529;
}

.social-button.pink {
  background-color: #fc488f;
}

.social-button.pink2 {
  background-color: #ed1081;
}

.social-button.orange {
  background-color: #db4e34;
}

.social-button.vimeo {
  background-color: #1ebae7;
}

.social-button.linkdin {
  background-color: #1485c3;
}

.social-button.instagram {
  background-color: #4b769b;
}

.social-button.tumblr {
  background-color: #2e5270;
}

.social-button.webflow {
  background-color: #3278bd;
}

.social-button.medium {
  background-color: #549f63;
}

.social-icon-link {
  width: 20px;
  margin-right: 12px;
  opacity: 0.36;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.social-icon-link:hover {
  opacity: 0.9;
}

.grey-rule {
  width: 90px;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #c7c7c7;
}

.site-name {
  display: block;
  margin-top: 11px;
  color: #333;
  font-size: 24px;
  line-height: 100%;
  text-decoration: none;
}

.site-name.w--current {
  font-family: 'PT Serif', serif;
  font-weight: 700;
}

.site-description {
  margin-bottom: 20px;
  line-height: 145%;
  text-align: left;
}

.built-with-webflow {
  margin-bottom: 0px;
  color: #aaa;
  font-size: 10px;
  text-align: left;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.webflow-link {
  color: #aaa;
  text-decoration: none;
}

.webflow-link:hover {
  color: #333;
}

.post-wrapper {
  margin-bottom: 40px;
  border-bottom: 2px solid #f3f3f3;
}

.blog-image {
  display: block;
  height: 250px;
  border-radius: 5px 5px 5px 3px;
  background-image: url('images/1Di8seNRo6bK8c9xq5Cw_Italia-Ferris-p-1080x.jpeg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.blog-image:hover {
  -webkit-transform: scale(1.11);
  -ms-transform: scale(1.11);
  transform: scale(1.11);
}

.post-content {
  padding: 1rem;
  -webkit-transition: border 333ms cubic-bezier(.175, .885, .32, 1.275);
  transition: border 333ms cubic-bezier(.175, .885, .32, 1.275);
}

.post-summary {
  display: inline;
  color: #aaa;
  line-height: 22px;
}

.post-info {
  display: inline-block;
  margin-right: 8px;
  color: #aaa;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.post-info.when-link {
  text-decoration: none;
}

.post-info.when-link:hover {
  color: #333;
}

.blog-title-link {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #333;
  text-decoration: none;
}

.blog-title-link:hover {
  opacity: 0.8;
}

.body-copy img {
  border-radius: 3px;
}

.body-copy li {
  margin-bottom: 3px;
}

.body-copy blockquote {
  line-height: 145%;
}

.body-copy figure {
  margin-bottom: 20px;
}

.success-message {
  padding-top: 49px;
  padding-bottom: 49px;
  border-radius: 3px;
  background-color: #f0f0f0;
}

.success-text {
  margin-bottom: 0px;
  font-size: 17px;
}

.text-field {
  margin-bottom: 15px;
  border-radius: 3px;
}

.text-field.text-area {
  min-height: 110px;
}

.social-link-group {
  margin-bottom: 10px;
}

.button-wrapper {
  -webkit-transition: border 200ms ease;
  transition: border 200ms ease;
}

.read-more-link {
  display: inline;
  margin-left: 8px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Lato, sans-serif;
  color: #aaa;
  font-size: 14px;
  line-height: 22%;
  text-decoration: underline;
}

.read-more-link:hover {
  color: #333;
}

.post-summary-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 1rem;
}

.content-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.blog-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.3rem;
  line-height: 26px;
}

.white-wrapper {
  padding: 26px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .06);
}

.circle-profile {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-bottom: 28px;
  margin-left: auto;
  border-radius: 500px;
}

.small-heading {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 135%;
  text-align: left;
}

.small-post-link {
  display: inline-block;
  margin-bottom: 15px;
  color: #aaa;
  text-align: left;
  text-decoration: none;
}

.small-post-link:hover {
  color: #333;
}

.feature-posts-list {
  margin-bottom: -15px;
}

.white-bg-heading {
  margin-bottom: 40px;
  padding: 14px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .06);
}

.content-column {
  padding-left: 30px;
}

.blog-page-image {
  height: 290px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url('../images/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.sidebar-on-mobile {
  display: none;
  padding-top: 40px;
}

.text-wrapper {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1px;
  padding: 0em;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.flex-container.space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-container.space-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex-container.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-container.align-start {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flex-item {
  width: 200px;
  margin: 0.3999999999999999em;
  padding: 0.3999999999999999em 0.5em;
  background-color: #d4d4d4;
}

.flex-item.grow {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.flex-item.twice {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.flex-item.do-not-shrink {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.flex-item._200px {
  width: 200px;
}

.center {
  text-align: center;
}

.blog-image-container {
  position: relative;
  overflow: hidden;
  max-height: 220px;
  max-width: 220px;
  min-height: 200px;
  min-width: 220px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  float: left;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.post-link {
  font-size: 1rem;
}

.div-block {
  max-height: 250px;
  max-width: 250px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-top-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}

html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6000000000000005, 0.6000000000000005);
  -ms-transform: scale(0.6000000000000005, 0.6000000000000005);
  transform: scale(0.6000000000000005, 0.6000000000000005);
}

html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.01, 0.01);
  -ms-transform: scale(0.01, 0.01);
  transform: scale(0.01, 0.01);
}

@media (max-width: 991px) {
  .navigation-link {
    text-align: center;
  }
  .navigation-bar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navigation-menu {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
  }
  .site-name {
    margin-top: 13px;
  }
  .post-wrapper {
    margin-bottom: 20px;
  }
  .content-wrapper {
    padding: 20px;
  }
  .white-wrapper {
    padding: 14px;
  }
  .menu-button {
    padding: 15px;
  }
  .white-bg-heading {
    margin-bottom: 20px;
  }
  .content-column {
    padding-left: 10px;
  }
  .blog-page-image {
    height: 240px;
  }
  .flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 767px) {
  .navigation-bar {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .grey-rule {
    margin-top: 21px;
    margin-bottom: 21px;
  }
  .built-with-webflow {
    margin-bottom: 0px;
  }
  .post-wrapper {
    margin-bottom: 20px;
    margin-left: 0px;
  }
  .blog-image {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .post-content {
    padding: 20px;
  }
  .button-wrapper {
    text-align: center;
  }
  .content-wrapper {
    width: 100%;
    margin-left: 0px;
    padding: 20px 10px;
  }
  .blog-title {
    font-size: 27px;
    line-height: 36px;
  }
  .white-wrapper {
    margin-top: 20px;
    padding: 34px;
  }
  .blog-page-image {
    height: 220px;
  }
  .sidebar-on-mobile {
    display: block;
    padding-top: 0px;
  }
  .flex-container {
    width: 100%;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  .flex-item.grow {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 32px;
    line-height: 36px;
  }
  .blog-image {
    max-height: 150px;
  }
  .blog-title {
    font-size: 26px;
    line-height: 32px;
  }
  .white-wrapper {
    padding: 20px;
  }
  .blog-page-image {
    height: 210px;
  }
  .flex-container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  .flex-container.space-between {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .blog-image-container {
    min-height: 150px;
    min-width: 150px;
    margin-left: auto;
  }
}
